$dw: 74rem;

.info-head {
  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  @include mobile {
    margin-top: -2*$sectionOffsetVerticalMobile;
  }
  .col {
    display: flex;
    flex: 0 0 auto;
    &--left {
      @include desktop {
        flex: 0 0 $dw;
        padding-right: 4rem
      }
      @include mobile {
        display: block;
      }
    }
    &--right {
      justify-content: flex-end;
      @include desktop {
        flex: 0 0 calc(100% - #{$dw})
      }
      @include tablet {
        justify-content: flex-start;
        padding-left: 14rem;
      }
      @include mobile {
        justify-content: flex-start;
      }
    }
  }
  .img {
    display: block;
    flex: 0 0 auto;
    width: 10rem;
    height: 10rem;
    margin-right: 4rem;
    border-radius: 50%;
    overflow: hidden;
    @include mobile {
      width: calc(100% + 2 * #{$pm});
      margin: -#{2 * $pm} -#{$pm} 2rem -#{$pm};
      height: auto;
      border-radius: 0;
    }
    img {
      @include obj-fit
    }
  }
  .text {
    .description {
      margin: 3rem 0 1rem;
      @include desktop {
        margin-bottom: 0;
      }
      p + p {
        margin-top: 2rem;
      }
    }

    .position {
      margin-top: 1rem;
      color: $lightgray2;
    }
    .city {
      color: $lightgray2;
    }
  }
  .social {
    margin-top: 4rem;
    @include desktop {
      margin: 0;
    }
  }
}