include ./_head.pug
include ./_components.pug
include ./../components/header/header.pug
include ./../components/footer/footer.pug


doctype html
html(lang='ru')
  head
    block head
      +head()

  body
    //- SVG sprite
    #symbols.visually-hidden
      include ../../dist/svg/symbol.svg

    .page.js-page

      block header
        +header()

      main.main
        .main__wrapper
          block content

      //- block footer
      //-   +footer()

script(src="./js/main.min.js")
